.language p{
    padding: 0 100px;
    text-align: left;
  }
  
  .about-heading{
    margin-top: 0;
    margin-left: 8%;
      margin-bottom: 15px;
      padding-top: 20px;
      font-size: 32px;
      font-weight: bold;
      display: flex;
      position: relative;
  }
  .about-heading::after{
    content: '';
    background-color: rgb(18, 115, 225);
    height: 5px;
    width: 160px;
    position: absolute;
    top: 65px;
    border-radius: 10px;
  }