@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Code+Pro&display=swap');

.App {
  text-align: center;
}

.dark-theme{
  --bg-clr: #212121;
  --clr: #fff;
  --nav-bg-clr:#474545;
  --nav-clr: #fff;
}

.light-theme{
  --bg-clr: #fff;
  --clr: #212121;
  --nav-bg-clr:#474545;
  --nav-clr: #fff;
}

body{
  background-color: var(--bg-clr);
  color: var(--clr);
}

h3{
  color: rgb(89, 86, 86);
}







